<!DOCTYPE html>
<html lang="fr">
    <meta charset="utf-8">
    <title>Reservation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<body>


<form action="/reservation" method="get" target="_blank">
  <label for="name">email</label>
  <input type="text" id="email" name="email"><br><br>
  <label for="date">date</label>
  <input type="text" id="date" name="date"><br><br>
    <label for="hour">hour</label>
  <input type="text" id="hour" name="hour"><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>